<section
  id="contact-me"
  class="bg-[url('./assets/img/photograph_3.jpg')] bg-no-repeat bg-fixed bg-center bg-cover transition-all ease-in-out"
>

  @if(isLoading()) {
    <section class="fixed inset-0 z-50 pointer-events-auto">
      <!-- Blur Overlay -->
      <div class="absolute inset-0 bg-white/30 backdrop-blur-sm"></div>

      <!-- Loading dots -->
      <div class="relative z-20 flex items-center justify-center min-h-screen">
        <span class="loading loading-dots loading-xs"></span>
        <span class="loading loading-dots loading-sm"></span>
        <span class="loading loading-dots loading-md"></span>
        <span class="loading loading-dots loading-lg"></span>
        <span class="loading loading-dots loading-xl"></span>
      </div>
    </section>
  }

  <!-- Section: Header -->
  <section
    class="transition-all ease-in-out 3xl:px-96 3xl:py-20 px-6 sm:px-12 xxs:gap-7 2xl:gap-10 bg-gray-200/85 3xl:h-[47vh] xxs:h-[35vh] xxs:min-h-[200px] 3xl:min-h-[330px] flex items-center justify-center flex-col leading-relaxed tracking-wider xxs:text-center lg:text-start lg:h-[40vh] lg:min-h-[230px] 2xl:min-h-[300px]"
  >
    <h1
      class="text-2xl sm:text-3xl lg:text-4xl 3xl:text-5xl text-orange-700  md:text-2xl 2xl:text-4xl  font-semibold tracking-widest scale-y-125 w-full lg:w-auto animate__animated animate__fadeInDown"
    >
      Let's Connect!
    </h1>
    <p
      class="animate__delay-1s text-[rgba(4,47,46,1)] text-base sm:text-lg lg:text-xl md:text-base 2xl:text-2xl scale-y-125 w-full lg:w-auto animate__animated animate__fadeInUp"
    >
      Let's make something great together!
    </p>
  </section>

  <!-- Section: Intro Paragraph -->
  <section
    class="bg-gray-200 transition-all ease-in-out text-[rgba(4,47,46,1)] tracking-wider flex items-center justify-center flex-col px-6 md:px-12 lg:px-24 3xl:px-96 py-10 lg:py-16 text-xs md:text-sm 2xl:text-base"
  >
    <p class="max-w-4xl animate__animated animate__fadeIn animate__delay-1s">
      I'd love to hear from you. Whether you have a project in mind, a question, or just want to say hello, feel free to reach out. I'm always open to exciting opportunities and collaborations.
    </p>
  </section>

  <!-- Section: Contact Form -->
  <section
    [ngClass]="{
      'xxs:min-h-[745px] xs:min-h-[685px] lg:min-h-[630px] xl:h-[75vh] 3xl:h-[75vh] 3xl:min-h-[618px]' : !hasError() || !isSubmit(),
      '3xl:h-[85vh] 3xl:min-h-[700px]' : hasError() || isSubmit()
    }"
    class="relative bg-gray-200 transition-all ease-in-out w-full flex justify-center items-center  px-6 sm:px-12 md:px-16 lg:px-24 3xl:px-96 py-10 text-gray-300"
  >

    @if(isSubmit()){
      <div
        [ngClass]="{
          'alert-success' : finalMessage().typeOfMessage == 'success',
          'alert-error' : finalMessage().typeOfMessage == 'error'
        }"
        class="toast toast-end toast-middle absolute animate__animated animate__fadeIn"
      >
        <div class="alert">
          <span>{{ finalMessage().message }}</span>
        </div>
      </div>
    }

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="contactMeForm"
      class="bg-zinc-800 w-full transition-all ease-in-out max-w-6xl p-6 md:p-10 rounded-lg flex flex-col space-y-4"
    >

      <h2 class="text-orange-800 text-lg md:text-xl 3xl:text-2xl font-bold tracking-wider animate__animated animate__fadeInUp">
        Start a Conversation
      </h2>

      <div class="flex transition-all ease-in-out flex-col lg:flex-row lg:space-x-6 space-y-4 lg:space-y-0">

        <!-- Form Inputs -->
        <div class="flex-1 flex flex-col space-y-4 text-black text-xs md:text-sm">
          <div class="flex flex-col sm:flex-row sm:space-x-4 space-y-4 sm:space-y-0">
            <input
              formControlName="fullName"
              name="fullName"
              type="text"
              placeholder="Full name*"
              class="w-full sm:w-1/2 rounded-md bg-gray-300 py-2 px-3 outline-none"
              required
            />
            <input
              formControlName="email"
              name="email"
              type="email"
              placeholder="Your email address*"
              class="w-full sm:w-1/2 rounded-md bg-gray-300 py-2 px-3 outline-none"
              required
            />
          </div>

          <textarea
            formControlName="message"
            name="message"
            placeholder="Tell me about your project or message*"
            class="w-full h-32 lg:h-full rounded-md bg-gray-300 py-2 px-3 outline-none resize-none"
            required
          ></textarea>
        </div>

        <!-- Info Section -->
        <div class="flex-1 transition-all ease-in-out flex flex-col justify-between text-xs md:text-sm space-y-6">
          <div class="animate__animated animate__fadeInUp">
            <h3 class="text-orange-700 mb-2 font-semibold">What about pricing?</h3>
            <p>Pricing depends on the project scope and timeline. Let me know your ideas and I’ll send a custom quote.</p>
          </div>
          <div class="animate__animated animate__fadeInUp">
            <h3 class="text-orange-700 mb-2 font-semibold">What about working status?</h3>
            <p>I'm currently open to new collaborations and freelance projects. Let’s work together!</p>
          </div>
        </div>
      </div>

      <!-- Validation Messages -->
      @if(contactMeForm.touched && contactMeForm.invalid){
        @if(contactMeForm.controls['fullName'].errors?.['required'] &&
          contactMeForm.controls['email'].errors?.['required'] &&
          contactMeForm.controls['message'].errors?.['required']){
          <div class="text-red-700 text-xs md:text-sm transition-opacity duration-3000 animate__animated animate__fadeIn">
            <small>All fields are required.</small>
          </div>
        }
        @else if(contactMeForm.controls['fullName'].errors?.['minlength']){
          <div class="text-red-700 text-xs md:text-sm transition-opacity duration-3000 animate__animated animate__fadeIn">
            <small>Your full name must be at least 5 characters long.</small>
          </div>
        }
        @else if(contactMeForm.controls['email'].errors?.['email']){
          <div class="text-red-700 text-xs md:text-sm transition-opacity duration-3000 animate__animated animate__fadeIn">
            <small>{{'Invalid email format. Please enter a valid email (e.g., name@example.com).'}}</small>
          </div>
        }
        @else if(contactMeForm.controls['message'].errors?.['minlength']){
          <div class="text-red-700 text-xs md:text-sm transition-opacity duration-3000 animate__animated animate__fadeIn">
            <small>Your message must be at least 10 characters long.</small>
          </div>
        }
        @else if(contactMeForm.controls['message'].errors?.['maxlength']){
          <div class="text-red-700 text-xs md:text-sm transition-opacity duration-3000 animate__animated animate__fadeIn">
            <small>Your message must be no longer than 500 characters.</small>
          </div>
        }
      }

      <!-- Submit Button -->
      <div class="flex flex-col sm:flex-row items-start sm:items-center sm:space-x-4 space-y-2 sm:space-y-0 text-xs md:text-sm">
        <button
          [disabled]="contactMeForm.invalid"
          [ngClass]="contactMeForm.invalid ? '' : 'hover:bg-blue-950 cursor-pointer'"
          type="submit"
          class="bg-blue-900 text-white px-4 py-2 rounded-md shadow-md w-full sm:w-auto"
        >
          Send message
        </button>
        <span class="animate__animated animate__fadeInUp">I will respond within 1-2 working days.</span>
      </div>
    </form>
  </section>
</section>
