
<section class="px-40 mb-20 bg-zinc-900 flex items-center h-[80vh]">

    <section class="w-1/2">
        <img class="" src="./assets/images/about_me_1.png" alt="my picture 1">
    </section>


    <section class="text-[#D3D3D3] w-1/2 p-24">
        <h2 class="font-bold text-xl mb-4">ABOUT ME</h2>

        <h1 class="font-bold text-7xl mb-7 tracking-wider">Jon Arbell De Ocampo</h1>

        <p class="mb-7 tracking-wider text-sm">Hi, I'm Jon Arbell De Ocampo, a passionate web developer with a focus on backend development. I specialize in building robust, scalable applications using Spring Boot and Spring Security, and I have solid experience in designing and implementing REST APIs. With a strong foundation in Angular, I can also create dynamic, responsive frontends to complement my backend expertise.</p>

        <p class="mb-7">I enjoy solving complex technical challenges and always strive to write clean, maintainable code. When I'm not coding, I'm exploring my creative side through photography and photo manipulation, which you can check out in the hobbies section.</p>

        <p class="mb-7">Feel free to browse my projects, and don't hesitate to reach out for collaboration opportunities!</p>
    </section>

    
</section>