
<section class="3xl:px-40 bg-gradient-to-br from-black via-zinc-900 flex to-gray-800 xs:flex-col xl:justify-around xs:justify-center xs:gap-4 md:gap-0 lg:flex-row items-center h-screen">

    
    <section class="lg:w-1/2 xs:h-1/3 lg:h-1/2 xl:h-full xs:py-2 xl:py-4 flex items-center justify-center">
        
        <img class="3xl:h-[85%] xs:h-full hover:scale-110 transition-transform duration-300 ease-in-out" src='assets/img/about-me.png' alt="My Pictures">

    </section>

    <section class="flex flex-col justify-center text-[#bebebe] xs:w-full xl:w-1/2 xl:p-14  xl:h-full xs:px-10">
        <h2 class="font-bold xs:text-base xl:text-lg 3xl:text-xl xs:mb-2 xl:mb-3">About Me</h2>

        <h1 class="font-bold xs:text-lg md:text-2xl 2xl:text-3xl 3xl:text-4xl xs:mb-2 3xl:mb-7 tracking-wider text-orange-700">Jon Arbell De Ocampo</h1>

        <p class="xl:mb-7 tracking-wide xs:text-xs 2xl:text-base xs:mb-2">I'm Jon Arbell De Ocampo, a 3rd-year Computer Science student with a strong focus on backend development. I specialize in building scalable applications using Spring Boot, Spring Security, and Spring MVC, with a solid foundation in designing REST APIs. While my primary expertise is in backend development, I'm currently exploring Angular to enhance my frontend skills.</p>

        <p class="tracking-wide xs:text-xs 2xl:text-base">I enjoy solving technical challenges and writing clean, maintainable code. Outside of coding, I express my creativity through photography, photo manipulation, video editing, and short film making. Check out my projects, and feel free to reach out for collaboration!</p>

    </section>

    
</section>