<section class="3xl:px-40 bg-gradient-to-br from-orange-950 via-gray-800 w-full to-teal-950 xs:flex-col xl:justify-around xs:justify-center xs:gap-4 md:gap-0 lg:flex-row items-center h-screen flex xs:px-10">

    <section class="flex flex-col justify-center text-[#bebebe] xs:w-full xl:w-1/2 xl:p-14 xl:h-full 3xl:mb-0 xs:mb-3">
        <h2 class="text-center font-bold xs:text-xl lg:text-3xl md:text-2xl 3xl:text-4xl text-[#bebebe] 2xl:mb-4 tracking-wider">My Hobbies</h2>

        <p class="tracking-wide xs:text-xs 2xl:text-base xs:mb-4 3xl:mb-7 text-[#bebebe]">I enjoy photography, capturing unique moments and perspectives through the lens, whether it's landscapes, portraits, or candid scenes. As a creative extension, I explore photomanipulation, transforming photos into imaginative visuals and experimenting with artistic effects. I've also ventured into videography, creating two short films that allowed me to blend storytelling with visual artistry. These hobbies offer a fun and creative escape while letting me try new techniques and ideas.</p>

        <a  class="bg-orange-900 text-gray-200 p-2 self-center rounded-lg xs:text-sm 2xl:text-base" target="_blank" [href]="">View all &#8594;</a>
    </section>

    <section class="lg:w-1/2 xs:h-1/3 lg:h-1/2 xl:h-full xs:py-2 xl:py-4 flex items-center justify-center">
        
        <img class="xl:h-[70%] 3xl:h-[85%] xs:h-full hover:scale-110 transition-transform duration-300 ease-in-out" src='assets/img/hobbies_picture.png' alt="My Pictures">

    </section>

    
</section>