<div [ngClass]="{
    'bg-gray-300 h-[60vh] shadow-lg p-2' : !displayProject?.hobbiesSection,
    'h-[33vh]' : displayProject?.hobbiesSection
}" class="text-white rounded-lg overflow-hidden flex flex-col items-center">
    
    <img [ngClass]="{
        'h-full' : displayProject?.hobbiesSection,
        'h-[50%]' : !displayProject?.hobbiesSection
    }" loading="lazy" class="shadow-xl rounded-lg" sizes="(max-width: 600px) 150px, (max-width: 1200px) 300px, 600px" [src]="displayProject?.getPngPath()">

    <div *ngIf="!displayProject.hobbiesSection" [ngClass]="{
        'h-[30%] w-full' : displayProject?.hobbiesSection,
        'mt-3' : !displayProject?.hobbiesSection
    }" class="p-2">

        <h3 class="2xl:text-xl xs:text-lg font-semibold text-zinc-900 mb-2">{{displayProject?.getTitle()}}</h3>

        <p class="text-zinc-900 mb-2 xs:text-xs 2xl:text-base">{{displayProject?.getDescription()}}</p>


    </div>

    <a *ngIf="!displayProject.hobbiesSection" class="bg-teal-950 mt-auto mb-2 ml-2 text-gray-200 p-2 self-start rounded-lg xs:text-sm 2xl:text-base" target="_blank" [href]="displayProject?.getLink()">View this project &#8594;</a>

</div>
