<div id="home" class="relative h-screen bg-[url('./assets/img/cover-hero-section.png')] bg-no-repeat bg-cover bg-[center_65%]">
    <app-header></app-header>
    <section class=" md:w-[65%] xs:pt-12 md:pt-28 xl:pt-40 p-4 md:pl-[5%] xl:pl-[15%]">
        <h2 class="font-bold tracking-wider xs:text-4xl md:text-6xl text-[#D3D3D3] mb-2 xl:text-7xl">Hello,</h2>
        
        <div class="font-bold tracking-wider xs:text-3xl md:text-6xl flex gap-2  mb-2 xl:text-7xl">
            <h1 class="text-[#D3D3D3]">I'm</h1>
            <h1 class="text-orange-700 typing-effect duration-75 ease-in-out">Jon Arbell</h1>
        </div>

        <h2 class="font-bold xs:text-xl md:text-3xl text-teal-950 mb-2">Aspiring Full Stack Developer</h2>
        <p class="xs:w-full xl:w-[90%] md:w-[95%] xs:text-xs md:text-base font-sans font-extralight text-[#D3D3D3] mb-2 tracking-wider">With a strong foundation in backend development, I am passionate about building scalable and efficient systems. As I continue to grow as a Full Stack Developer, I'm excited to bridge the gap between server-side logic and user-facing interfaces, delivering complete web solutions.</p>

        <section class="text-center">
            <a class="text-orange-700 p-4 rounded-lg xs:text-lg xl:text-2xl underline text-center w-full hover:brightness-150" href="./assets/resume.pdf" download="De Ocampo. Jon Arbell D. Resume.pdf">Download my Resume</a>
        </section>

    </section>
</div>