<div class="relative w-screen h-[90vh] bg-[url('./assets/images/cover-hero-section.png')] bg-no-repeat bg-cover bg-[center_65%] ">
    <app-header></app-header>
    <section class=" w-[50%] pt-48 p-4 pl-[15%]">
        <h2 class="font-bold tracking-wider text-7xl text-gray-300 mb-2">Hello,</h2>
        
        <div class="font-bold tracking-wider text-7xl flex gap-2 text-orange-700 mb-2">
            <h1>I'm</h1>
            <h1>Jon Arbell</h1>
        </div>

        <h2 class="font-bold text-2xl text-blue-900 mb-2">Aspiring Full Stack Developer</h2>
        <p class="text-sm font-sans font-extralight text-gray-400">With a strong foundation in backend development, I am passionate about building scalable and efficient systems. As I continue to grow as a Full Stack Developer, I'm excited to bridge the gap between server-side logic and user-facing interfaces, delivering complete web solutions.</p>
    </section>
</div>