<section id="projects" class="bg-[url('./assets/img/photograph_2.jpg')] min-h-screen bg-no-repeat bg-fixed bg-center bg-cover">

    <section 
    class="3xl:px-96 3xl:py-20 xxs:px-10 xxs:gap-7 2xl:gap-10 bg-gray-200/85 3xl:h-[47vh] xxs:h-[35vh] xxs:min-h-[200px] 3xl:min-h-[330px] flex items-center justify-center flex-col leading-relaxed tracking-wider xxs:text-center lg:text-start lg:h-[40vh] lg:min-h-[230px] 2xl:min-h-[300px]"
    >
        <h1 class="xxs:text-lg md:text-2xl 3xl:self-start 2xl:text-4xl 3xl:text-5xl tracking-widest text-orange-700 scale-y-125">Showcasing My Work</h1>
        <p class="text-[rgba(4,47,46,1)] 3xl:self-start scale-y-[1.25] xxs:text-sm 2xl:text-2xl">A collection of my best personal projects</p>
    </section>

    <section 
        class="flex lg:h-[53vh] lg:min-h-[275px] items-center justify-center 3xl:py-20 xxs:gap-5 3xl:gap-10 flex-col 3xl:px-96 xxs:px-10 md:px-20 xl:px-45 bg-gray-200 xxs:h-[58vh] xxs:min-h-[375px] 3xl:h-[46vh] 2xl:min-h-[300px] 3xl:min-h-[310px] text-[rgba(4,47,46,1)] tracking-wider"
    >

        <p 
            class="2xl:text-sm xxs:text-xs"
        >
            Welcome to my projects section! Here, you'll find a collection of work that showcases my passion for building practical and innovative solutions. Each project represents a challenge tackled, a problem solved, or an idea brought to life. From web applications to software tools, I strive to create projects that are functional, efficient, and impactful. Feel free to explore and see what I've been working on!
        </p>
    </section>

    <section class="flex flex-col items-center xxs:justify-center xxs:gap-16 xl:gap-0 xl:justify-evenly bg-teal-950 text-orange-700 min-h-[93.5vh] 3xl:px-96 xxs:px-10 md:px-20 xl:px-45 tracking-wider">

        <h2 class="font-bold xxs:text-xl lg:text-3xl md:text-2xl 3xl:text-4xl tracking-widest">My Projects</h2>

        <ul class="">
            <li>UNDER CONSTRUCTION</li>

            <!-- <li class="2xl:font-semibold 2xl:text-sm p-4 rounded-xl bg-[#1E5F5F] shadow-xl tracking-wider">
                <div class="flex flex-col gap-4 text-teal-950">

                    <img src="/img/phish_alert_icon.png" class="h-8 w-8">

                    <h1 class="text-center">PhishAlert - {{'(Thesis Project)'}}</h1>
                    
                    <img class="rounded-md h-40 w-[25%] self-center" src="/img/projects/phish_alert.png">

                    <p>PhishAlert is a browser extension designed to improve email security by helping users identify potential phishing links in Gmail. The system monitors user interactions with email links, and when a user hovers over a link, it prompts them to verify the URL's safety, providing warnings if the link is deemed suspicious or safe.</p>
                </div>
            </li>

            <li>
                <img>
            </li>

            <li>
                <img>
            </li> -->

        </ul>
    </section>

</section>
