<section id="footer" class="flex items-center justify-center xs:h-screen lg:h-[20vh] 2xl:px-40 xs:px-10 bg-zinc-900 ">

  <section class="lg:flex items-center gap-5 lg:gap-10 text-gray-400">
    <h3 class="text-xl lg:text-2xl 2xl:text-3xl font-black tracking-widest text-center">Keep Exploring</h3>
  
    <hr class="h-px bg-gray-400 rotate-20 lg:rotate-90 lg:h-full lg:w-24 lg:mx-4 my-10 lg:my-0">


    <div class="lg:flex items-center justify-between w-full h-full">

      <nav class="lg:w-[60%] 2xl:w-[75%] w-full">
        <ul class="flex items-center lg:flex-row flex-col gap-5 w-full mb-10 lg:mb-4 tracking-wide xs:text-xs 2xl:text-base">
          
          <li>
            <a class="hover:underline" href="">About Me</a>
          </li>

          <li>
            <a class="hover:underline" href="">Projects</a>
          </li>

          <li>
            <a class="hover:underline" href="">My Skills</a>
          </li>

          <li>
            <a class="hover:underline" href="">Hobbies</a>
          </li>

          <li>
            <a class="hover:underline" href="">Contact Me</a>
          </li>

        </ul>

        <div class="mb-10 lg:mb-0 tracking-wide lg:justify-start justify-center w-full flex flex-wrap items-center gap-4 xs:text-xs 2xl:text-base">
          <p>&copy; 2025 Lopit.</p>
          <p>All right reserved.</p>
        </div>

      </nav>



      <div class="flex flex-col justify-around h-full text-center lg:text-left">
        <ul class="flex flex-wrap items-center gap-5 lg:gap-10 justify-center mb-4 ">
          <li>
            <a href="https://github.com/JonArbell" target="_blank">
              <img src="assets/img/github_icon.png" alt="GitHub" class="h-7 w-7 lg:h-9 lg:w-9 2xl:h-11 2xl:w-11 rounded-3xl">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jon-arbell-donor-de-ocampo-134083284/" target="_blank">
              <img src="assets/img/linkedin_icon.png" alt="LinkedIn" class="h-7 w-7 lg:h-9 lg:w-9 2xl:h-11 2xl:w-11 rounded-3xl">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/j_arbelldeocampo/" target="_blank">
              <img src="assets/img/instagram.png" alt="LinkedIn" class="h-7 w-7 lg:h-9 lg:w-9 2xl:h-11 2xl:w-11 rounded-3xl">
            </a>
          </li>
        </ul>
        <div class="tracking-wide flex flex-wrap items-center gap-4 justify-center xs:text-xs 2xl:text-base">
          <p>{{'Email : lopit@gmail.com'}}</p>
        </div>
        
      </div>
    </div>

  
    
  </section>
  


    <!-- <section class="text-red-700 font-bold text-center">
        <h2 class="xs:text-xl lg:text-3xl lg:text-2xl 3xl:text-4xl 2xl:mb-4 tracking-wider mb-5">Footer</h2>
        <h1>UNDER CONSTRUCTION</h1> 
    </section> -->

</section>
