<section class="h-[30vh] p-40 bg-gradient-to-br from-gray-800 via-teal-950  to-teal-950">

    <h5>Feel free to reach out to discuss opportunities!</h5>

    <div>
        <nav>
            <ul class="flex gap-4 items-center">
                <li>Email: deocampo.arbelldonor&#64;gmail.com</li>

                <li>
                    <a>
                        <img class="h-14 w-14 rounded-3xl" src="assets/img/github_icon.png" alt="GitHub">
                    </a>
                </li>

                <li>
                    <a>
                        <img class="h-14 w-14 rounded-3xl" src="assets/img/linkedin_icon.png" alt="LinkedIn">
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <p>&copy; 2024 Jon Arbell De Ocampo. All Rights Reserved.</p>

</section>
