<section class="flex items-center justify-center h-[25vh] 2xl:px-40 xs:px-10 bg-gradient-to-br from-teal-950 via-zinc-900  to-black">

  <section class="flex items-center gap-10 text-gray-300 tracking-wide">
    <h3 class="text-xl lg:text-2xl 2xl:text-3xl font-black tracking-widest text-center sm:text-left">Keep Exploring</h3>
  
    <hr class="w-px h-32 bg-gray-300 rotate-20 sm:rotate-90 sm:h-full sm:w-32 sm:mx-4 my-4 sm:my-0">
  
    <div class="flex flex-col justify-around h-full text-center sm:text-left">
      <ul class="flex flex-wrap items-center gap-10 justify-center mb-4">
        <li>
          <a>
            <img src="assets/img/github_icon.png" alt="GitHub" class="h-10 w-10 lg:h-12 lg:w-12 2xl:h-14 2xl:w-14 rounded-3xl">
          </a>
        </li>
        <li>
          <a>
            <img src="assets/img/linkedin_icon.png" alt="LinkedIn" class="h-10 w-10 lg:h-12 lg:w-12 2xl:h-14 2xl:w-14 rounded-3xl">
          </a>
        </li>
      </ul>
  
      <div class="flex flex-wrap items-center gap-4 justify-center xs:text-xs 2xl:text-base">
        <p>&copy; 2025 Jon Arbell De Ocampo.</p>
        <p>All right reserved.</p>
      </div>
    </div>
  </section>
  


    <!-- <section class="text-red-700 font-bold text-center">
        <h2 class="xs:text-xl lg:text-3xl md:text-2xl 3xl:text-4xl 2xl:mb-4 tracking-wider mb-5">Footer</h2>
        <h1>UNDER CONSTRUCTION</h1> 
    </section> -->

</section>
