<section class="flex items-center justify-center h-[80vh] bg-gradient-to-br from-gray-800 via-orange-950 text-[#bebebe] to-gray-800 px-8 md:px-16 lg:px-40">
    <div class="w-full">

        <div class="mb-10">
            <h2 class="text-center font-bold xs:text-xl lg:text-3xl md:text-2xl 3xl:text-4xl text-[#bebebe] 2xl:mb-4 tracking-wider mb-5">My Tech Stack</h2>
            <p class="xl:mb-7 tracking-wide xs:text-xs 2xl:text-base xs:mb-2 text-center">The technologies I work with to bring ideas to life.</p>
        </div>

        <ul class="grid xs:place-items-center 3xl:grid-cols-9 xs:grid-cols-3 w-full mb-10 xs:gap-4">
            <li class=" 3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/java.png" alt="Java icon">

                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">Java</p>
            </li>

            <li class="3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/spring.256x256.png" alt="Spring Boot icon">
                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">Spring Boot</p>
            </li>

            <li class="3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/postgresql-plain.248x256.png" alt="PostgreSql icon">
                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">PostgreSQL</p>
            </li>

            <li class="3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/angular.png" alt="Angular icon">
                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">Angular</p>
            </li>

            <li class="3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/typescript.png" alt="TypeScript icon">
                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">TypeScript</p>
            </li>

            <li class="3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xxs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/js.png" alt="JavaScript icon">
                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">JavaScript</p>
            </li>

            <li class="3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/css-3.png" alt="CSS 3 icon">
                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">CSS 3</p>
            </li>

            <li class="3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/tailwind.png" alt="Tailwind css icon">
                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">Tailwind CSS</p>
            </li>

            <li class="3xl:h-40 3xl:w-36 xs:w-20 xs:h-20 sm:w-24 sm:h-24 md:w-28 md:h-28 xl:w-32 xl:h-32 2xl:h-36 2xl:w-36 flex flex-col items-center justify-center p-4 rounded-xl bg-gray-300 shadow-2xl">
                <img class="mb-2 xs:h-7 xs:w-7 3xl:h-20 3xl:w-20 hover:scale-110 transition-transform duration-200" src="assets/img/github.png" alt="GitHub icon">
                <p class="text-center text-zinc-900 xs:text-xs 3xl:text-base">GitHub</p>
            </li>
        </ul>

        
    </div>
</section>

