
<nav class="h-[10vh] flex items-center w-full justify-evenly">

    <div class="pl-4 text-white italic font-bold text-2xl flex gap-2 w-[25%] justify-center">
        <h1 class="">Jon</h1>
        <h1 class="text-orange-700">Arbell</h1>
    </div>

    <ul class="text-white pl-[40%] flex justify-around w-full">

        @for(element of header; track element){

            @if(element !== 'Contact Me'){
                <li class="flex items-center hover:underline cursor-pointer">
                    <a>{{element}}</a>
                </li>
            }
            @else{
                <button class="p-4 rounded-lg bg-white text-black hover:bg-gray-300">
                    <li>{{element}}</li>
                </button>
            }
        }

    </ul>
</nav>
